#content {
    display: flex;
    margin-top: 20px;
    .left-section {
        flex: 1;
        margin-right: 20px;
        .header {
            display: flex;
            height: 30px;
            button {
                height: 25px;
            }
            > .actions {
                flex: 1;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    .right-section {
        width: 300px;
        background: #ccc;
        .chart {
            height: 300px;
        }
        .help-label {
            padding: 10px;
        }
    }
}
